@import '~variables';

.picture {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
  }
}

.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
